@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The <b>My Garage</b> application demonstrates the use and application of the following Microsoft technologies on 
Red Hat Enterprise Linux.  This application can also be run within Linux containers (docker) and deployed on Red Hat OpenShift
Container Platform (> v3.3).</p>
<ul>
    <li>.NET Core 1.1</li>
    <li>ASP.NET Core 1.1</li>
    <li>.NET EF Core 1.1</li>
    <li>SQL SERVER vNext CTP 1.2</li>
</ul>
