@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    100 E. Davie Street, Raleigh, NC 27601<br />
    <abbr title="Phone">P:</abbr>
    1.888.RED.HAT1
</address>

<address>
    <a href="https://www.openshift.com/container-platform/">Red Hat OpenShift Container Platform</a><br />
    <a href="https://www.redhat.com/en/technologies/cloud-computing">Red Hat Cloud Computing</a>
</address>
